<a href="https://colab.research.google.com/github/ephemeralsadness/ramaximization-ranshe-bylo-luchshe/blob/master/ramaximization.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd

from openpyxl import load_workbook

In [ ]:
# Load in the workbook
wb = load_workbook('data/input_vacation.xlsx')

# Get sheet names
print(wb.sheetnames)

['params', 'Quals ', 'PersonalLevel ', 'Months', 'QualLevels ', 'MaxFly ', 'Qualified ', 'RequiredPersonal ', 'RestReq ', 'RestPrior ', 'Starts ', 'maxStarts ']

In [ ]:
# params is dictionary of parameters
params = {}
for i in range(1, wb['params'].max_row + 1):
        # Retrieve cell value
        params[wb['params'].cell(row=i, column=1).value] = wb['params'].cell(row=i, column=2).value

In [ ]:
# get qualities names
name_quals = []
for i in range(1, wb['Quals '].max_row + 1):
        name_quals.append(wb['Quals '].cell(row=i, column=1).value)

# quals is list of qualities
quals = {}
for name in name_quals:
    quals[name] = []


for i in range(1, wb['RequiredPersonal '].max_column + 1):
    for j, qual in enumerate(quals):
        quals[qual].append(wb['RequiredPersonal '].cell(row=j + 1, column=i).value)
quals = pd.DataFrame(quals)

In [ ]:
# persons is dataframe of employees
persons = {}
persons['id'] = []
persons['priority'] = []
persons['max_workhours'] = []
for i in range(1, wb['PersonalLevel '].max_row + 1):
    persons['id'].append(wb['PersonalLevel '].cell(row=i, column=1).value)
    persons['priority'].append(wb['PersonalLevel '].cell(row=i, column=2).value)
    persons['max_workhours'].append(wb['MaxFly '].cell(row=i, column=1).value)

persons['q1'] = []
persons['q2'] = []
persons['q3'] = []
persons['q4'] = []
persons['q5'] = []
persons['q6'] = []
persons['q7'] = []
persons['q8'] = []
persons['q9'] = []
persons['q10'] = []
persons['restreq_1m'] = []
persons['restreq_2m'] = []
persons['restreq_3m'] = []
persons['restreq_4m'] = []
persons['restreq_5m'] = []
persons['restreq_6m'] = []
persons['restreq_7m'] = []
persons['restreq_8m'] = []
persons['restreq_9m'] = []
persons['restreq_10m'] = []
persons['restreq_11m'] = []
persons['restreq_12m'] = []

for i in range(1, wb['Qualified '].max_column + 1):
    persons['q1'].append(wb['Qualified '].cell(row=1, column=i).value)
    persons['q2'].append(wb['Qualified '].cell(row=2, column=i).value)
    persons['q3'].append(wb['Qualified '].cell(row=3, column=i).value)
    persons['q4'].append(wb['Qualified '].cell(row=4, column=i).value)
    persons['q5'].append(wb['Qualified '].cell(row=5, column=i).value)
    persons['q6'].append(wb['Qualified '].cell(row=6, column=i).value)
    persons['q7'].append(wb['Qualified '].cell(row=7, column=i).value)
    persons['q8'].append(wb['Qualified '].cell(row=8, column=i).value)
    persons['q9'].append(wb['Qualified '].cell(row=9, column=i).value)
    persons['q10'].append(wb['Qualified '].cell(row=10, column=i).value)

for i in range(1, wb['RestReq '].max_row + 1):
    persons['restreq_1m'].append(wb['RestReq '].cell(row=i, column=1).value)
    persons['restreq_2m'].append(wb['RestReq '].cell(row=i, column=2).value)
    persons['restreq_3m'].append(wb['RestReq '].cell(row=i, column=3).value)
    persons['restreq_4m'].append(wb['RestReq '].cell(row=i, column=4).value)
    persons['restreq_5m'].append(wb['RestReq '].cell(row=i, column=5).value)
    persons['restreq_6m'].append(wb['RestReq '].cell(row=i, column=6).value)
    persons['restreq_7m'].append(wb['RestReq '].cell(row=i, column=7).value)
    persons['restreq_8m'].append(wb['RestReq '].cell(row=i, column=8).value)
    persons['restreq_9m'].append(wb['RestReq '].cell(row=i, column=9).value)
    persons['restreq_10m'].append(wb['RestReq '].cell(row=i, column=10).value)
    persons['restreq_11m'].append(wb['RestReq '].cell(row=i, column=11).value)
    persons['restreq_12m'].append(wb['RestReq '].cell(row=i, column=12).value)

persons['start'] = []
persons['max_start'] = []

for i in range(1, wb['Starts '].max_row + 1):
    persons['start'].append(wb['Starts '].cell(row=i, column=1).value)
    persons['max_start'].append(wb['maxStarts '].cell(row=i, column=1).value)

persons = pd.DataFrame(persons)

In [ ]:
# months is dataframe of months
months = {}
months['id'] = []
months['top'] = []
months['max_vac'] = []

for i in range(1, wb['Months'].max_row + 1):
    months['id'].append(wb['Months'].cell(row=i, column=1).value)
    months['top'].append(wb['Months'].cell(row=i, column=2).value)
    months['max_vac'].append(wb['Months'].cell(row=i, column=3).value)

months = pd.DataFrame(months)

In [ ]:
# priorities is dataframe of priorities
priorities = {}
priorities['m1'] = []
priorities['m2'] = []
priorities['m3'] = []
priorities['m4'] = []
priorities['m5'] = []
priorities['m6'] = []
priorities['m7'] = []
priorities['m8'] = []
priorities['m9'] = []
priorities['m10'] = []
priorities['m11'] = []
priorities['m12'] = []

for i in range(1, wb['RestPrior '].max_row + 1):
    priorities['m1'].append(wb['RestPrior '].cell(row=i, column=1).value)
    priorities['m2'].append(wb['RestPrior '].cell(row=i, column=2).value)
    priorities['m3'].append(wb['RestPrior '].cell(row=i, column=3).value)
    priorities['m4'].append(wb['RestPrior '].cell(row=i, column=4).value)
    priorities['m5'].append(wb['RestPrior '].cell(row=i, column=5).value)
    priorities['m6'].append(wb['RestPrior '].cell(row=i, column=6).value)
    priorities['m7'].append(wb['RestPrior '].cell(row=i, column=7).value)
    priorities['m8'].append(wb['RestPrior '].cell(row=i, column=8).value)
    priorities['m9'].append(wb['RestPrior '].cell(row=i, column=9).value)
    priorities['m10'].append(wb['RestPrior '].cell(row=i, column=10).value)
    priorities['m11'].append(wb['RestPrior '].cell(row=i, column=11).value)
    priorities['m12'].append(wb['RestPrior '].cell(row=i, column=12).value)

priorities = pd.DataFrame(priorities)

In [ ]:
persons

,id,priority,max_workhours,q1,q2,q3,q4,q5,q6,q7,...,restreq_5m,restreq_6m,restreq_7m,restreq_8m,restreq_9m,restreq_10m,restreq_11m,restreq_12m,start,max_start
0,3401,70,80,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,3,6
1,3402,70,80,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,4
2,3404,1,80,0,0,0,1,0,0,0,...,60,0,0,60,0,39,0,0,2,5
3,3405,65,80,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,2,5
4,3407,55,90,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,2,5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2422,104635,1,80,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,3,12
2423,104638,1,80,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,3,12
2424,104640,1,80,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,3,12
2425,104641,1,80,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,3,12
2426,104642,1,80,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,3,12

In [ ]:
months

    id  top  max_vac
0    1    0       74
1    2    0       74
2    3    0       74
3    4    0       74
4    5    1       74
5    6    1       37
6    7    1       37
7    8    1       37
8    9    1       37
9   10    0       74
10  11    0       74
11  12    0       37

In [ ]:
priorities

      m1  m2  m3  m4  m5  m6  m7  m8  m9  m10  m11  m12
0      0   0   0   0   0   0   0   0   0    0    0    0
1      0   0   0   0   0   0   0   0   0    0    0    0
2      0   3   0   0   3   0   0   1   0    3    0    0
3      0   0   0   0   0   0   0   0   0    0    0    0
4      0   0   0   0   0   0   0   0   0    0    0    0
...   ..  ..  ..  ..  ..  ..  ..  ..  ..  ...  ...  ...
2422   0   0   0   0   0   0   0   0   0    0    0    0
2423   0   0   0   0   0   0   0   0   0    0    0    0
2424   0   0   0   0   0   0   0   0   0    0    0    0
2425   0   0   0   0   0   0   0   0   0    0    0    0
2426   0   0   0   0   0   0   0   0   0    0    0    0

[2427 rows x 12 columns]

In [ ]:
quals

       Q1     Q2     Q3     Q4     Q5     Q6    Q7    Q8    Q9   Q10
0   31746  10139  10139  14233  12357  34789  5224  5224  7159  7722
1   29240   9209   9209  11474  10177  36442  5384  4829  4997  7067
2   33821  10320  10320  10933   9844  35051  5506  4929  6640  7615
3   33549  10182  10182  11806   9969  35246  6105  5262  6142  7118
4   29025  10155  10155  11639  10593  32949  5747  5065  5901  7948
5   37327   9339   9339  13725  12009  40948  6230  5466  7058  8219
6   36847  10137  10137  13187  11488  39488  6293  5309  7188  8503
7   36550  10107  10107  13649  11957  40144  5918  5414  7191  8503
8   35700   9706   9706  14155  12292  40035  5761  5260  7079  8228
9   34224   9841   9841   9705   9942  33954  6376  5110  6144  8459
10  31484   8679   8679  12391  10422  38549  6023  5282  6802  8101
11  35387   9164   9164  13103  11250  39797  6117  5344  6796  8374

In [ ]:
persons['q_all'] = persons['q1'] + persons['q2'] + persons['q3'] + persons['q4'] + persons['q5'] + persons['q6'] + persons['q7']  + persons['q8'] + persons['q9'] + persons['q10']

persons = persons[persons['q_all'] != 0]

persons

,id,priority,max_workhours,q1,q2,q3,q4,q5,q6,q7,...,restreq_6m,restreq_7m,restreq_8m,restreq_9m,restreq_10m,restreq_11m,restreq_12m,start,max_start,q_all
0,3401,70,80,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,3,6,1
1,3402,70,80,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,1,4,1
2,3404,1,80,0,0,0,1,0,0,0,...,0,0,60,0,39,0,0,2,5,1
3,3405,65,80,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,2,5,1
5,3425,70,90,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,1,1,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2386,104126,1,60,0,0,0,0,0,0,1,...,0,0,0,0,0,0,0,1,12,1
2394,104239,1,90,0,0,0,0,1,0,0,...,0,36,0,26,60,0,36,2,5,1
2401,104310,1,70,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,12,1
2416,104511,1,60,0,0,0,0,0,0,1,...,0,0,36,0,36,0,36,2,12,1
2418,104561,1,90,0,0,0,0,1,0,0,...,0,0,0,0,0,0,0,2,12,1